@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Playfair+Display:wght@500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.font-heading {
  font-family: 'Playfair Display', serif;
}

.font-body {
  font-family: 'Inter', sans-serif;
}

.curved-banner {
  --c: 70px;
  mask: radial-gradient(60% var(--c) at top, #0000 calc(100% - 1px), #000);
}